/* * { 
  margin: 0;
  padding: 0;
  /* font-family: 'Manrope,Arial,sans-serif'; */
  /* font-family: Percent,Beatrice,Arial,sans-serif; */
/* }  */

.about-div {
  width: 100%;
  height: 100vh;
}

.content { 
  margin: 5rem;
  border: grey;
  margin-top: 10rem;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  color: black;
}

.about-text {
  color: white;
}

topnav-nav.about-p { 
  margin-left: auto;
  margin-right: auto;
  margin-top: 25rem;
  position: absolute;
  top: 10px;
  right: 16px;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  list-style: none;
  opacity: 1;
}

/* .topnav-nav:not(:first-child) {
  border-right: 2px solid #d2d5e4;
} */

.about-p {
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  display: block;
  width: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.topnav {
  overflow: hidden;
  background-color: #6D7A71;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* .topnav:hover {
  opacity: 0.9;
} */

.topnav-nav:hover {
  transform: scale(1.3);
  color: black;
  opacity: 10;
}

.topnav-nav {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav-nav-p {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav li:hover {
  background-color: #ddd;
  color: black;
}

.topnav li.active {
  background-color: #BA806A;
  color: white;
}

.topnav-nav-sign {
  border-radius: 30px;
  margin: 4px 4px;
  background-color: #c7c7c7;
  /* border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px; */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

a:link { 
  text-decoration: none; 
}

.signup-div {
  margin-top: 1rem;
  padding: 14px;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img {
  max-width: 100%;
}

.location-image {
  max-width: 1.2%;
}

.hike-image-nav {
  max-width: 3%;
  margin-left: auto;
  float: left;
}

.container-form-sub {
  padding: 16px;
  /* box-sizing: content-box; */
}

body {
  font-family: 'Astralaga Regular', Astralaga;
}

form {
  border: 3px 
  solid #f1f1f1;
}

button {
  background-color: #6D7A71;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.location-btn {
  background-color: #6D7A71;
  color: white;
  padding: 10px 14px;
  width: 20px;
  margin: 20px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.container {
  padding: 16px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #6D7A71;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

img.bg-image {
  display: flex;
  background-repeat: repeat;
  background-position: center;
  /* background-size: cover; */
  width: 100%;
  height: auto;
  /* object-fit: cover; */
}
img.bg-image-home {
  display: flex;
  background-repeat: repeat;
  background-position: center;
  /* background-size: cover; */
  width: 100%;
  height: auto;
  /* object-fit: cover; */
}

/* .bg-image-home {
  background-size: cover;
  /* display: flex; }*/

.bg-image-about {
  display: flex;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.1)
}
.overlay {
  background-color: rgba(0,0,0,.1)
}

.content-home {
  margin-top: 6rem;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  color: black;
}

.container-home-div {
  position: relative;
  /* background-color: #6D7A71; */
  /* background-size: 100%; */
}

.text-home {
  margin-top: 6rem;
  position: absolute;
  top: 10px;
  right: 16px;
  color: black;
  font-size: 4.5rem;
  font-weight: bold;
  list-style: none;
  opacity: .5;
}

.home-aTag-explore:hover {
  transform: scale(1.3);
  color: #6D7A71;
}

.li-home-views:hover {
  transform: scale(1.3);
  color: #6D7A71;
  opacity: 10;
}

.li-home-hike:hover {
  transform: scale(1.3);
  color: #6D7A71;
  opacity: 10;
}

.li-home-explore:hover {
  transform: scale(1.3);
  color: #BA806A;
  opacity: 10;
}

.container-signout-div {
  position: relative;
  margin-top: 0;
  background-color: #6D7A71;
}

.text-signout {
  margin-top: 10rem;
  position: absolute;
  top: 25px;
  color: black;
  font-size: 4.5rem;
  font-weight: bold;
  text-align: center;
  list-style: none;
  opacity: 1;
}

.text-home-h1 {
  margin-top: 3rem;
  margin-left: 5rem;
  position: absolute;
  top: 6px;
  color: black;
  font-size: 4.5rem;
  font-weight: bold;
  text-align: center;
  list-style: none;
  opacity: .8;
}

.text-home-h2 {
  margin-top: 8rem;
  margin-left: 5rem;
  position: absolute;
  top: 6px;
  color: black;
  font-size: 4.5rem;
  font-weight: bold;
  text-align: center;
  list-style: none;
  opacity: .8;
}

.text-home-link {
  margin-top: 8rem;
  position: absolute;
  top: 6px;
  left: 5rem;
  color: black;
  font-size: 4.5rem;
  font-weight: bold;
  text-align: center;
  list-style: none;
  opacity: .8;
}

.text-home-link:hover{
  color: green;
  transform: scale(1.2);
}

.footer {
  top: 1rem;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  color: #6D7A71;
  text-align: center;
}

.footer-gh-link {
  color: #6D7A71;
}

#main-form {
  width: max-content;
  margin: 40px auto;
  padding: 25px 28px;
  background: #EFEADD;
  border-radius: 4px;
  border: 1px solid #302d2d;
  animation: popup 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@keyframes popup {
  0% {
      transform: scale(0.2);
      opacity: 0;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}

h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 400;
  color: black;
}

.input-parent {
  display: block;
  margin-bottom: 20px;
  color: black;
}

lbl-cn {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
  color: black;
}

.input-parent input {
  padding: 10px 8px;
  width: 100%;
  font-size: 16px;
  background: #323131;
  border: none;
  color: #c7c7c7;
  border-radius: 4px;
  outline: none;
  transition: all 0.2s ease;
}

.input-parent input:hover {
  background: #404040;
}

.input-parent input:focus {
  box-shadow: 0px 0px 0px 1px #0087ff;
}

login-btn {
  padding: 10px 18px;
  font-size: 15px;
  background: #1a3969;
  width: 100%;
  border: none;
  border-radius: 4px;
  color: #f4f4f4;
  transition: all 0.2s ease;
}

login-btn:hover {
  opacity: 0.9;
}

login-btn:focus {
  box-shadow: 0px 0px 0px 3px black;
}

.main-form-log {
  margin-top: 6rem;
  position: absolute;
  top: 8px;
  right: 16px;
  opacity: 0.9;
  display: inline-block;
}

body {
  text-align: center;
}

.hike-item-div {
  text-align: center;
  padding: 10px 8px;
  width: 100%;
  font-size: 16px;
  background: #323131;
  border: none;
  color: #c7c7c7;
  border-radius: 4px;
  outline: none;
  transition: all 0.2s ease;
}

.card {
  background-color: #c7c7c7;
  border-radius: 0.5rem;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
  padding-bottom: 1rem;
  /* display: grid;
  grid-template-rows: max-content 200px 1fr; */
}

.hike-cr-review { 
  background-color: #6D7A71;
  color: black;
  /* font-family: Manrope,Arial,sans-serif; */
  font-family: 'Astralaga Regular', Astralaga;
  font-size: 15px;
  font-weight: 400;
}

.hike-cr-title {
  font-family: 'Astralaga Regular', Astralaga;
  font-size: 20px;
  font-weight: 400;
}

.hike-card-desc {
  font-family: 'Astralaga Regular', Astralaga;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  color: #2b381f;
  color: black;
  display: block;
  width: auto;
}

.card-desc {
  font-family: 'Astralaga Regular', Astralaga;
  font-size: 13px;
  font-weight: 450;
  line-height: 1.5;
  color: black;
  color: #656e5e;
  display: block;
  width: auto;
}

.card > :last-child {
  margin-bottom: 0;
}
.card h3 {
  margin-top: 1rem;
  font-size: 1.25rem;
}

.hike-item-img {
  border-radius: 0.5rem 0.5rem 0 0;
  width: 50%;
}

.card-div {
  color: rgba(0, 0, 0, 0.16);

}

.card-wrapper {
  border-style: solid;
  border-radius: 0.9rem 0.5rem 0 0;
  list-style: none;
  padding: 0;
  margin: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  grid-gap: 1.5rem;
}

.logo-footer {
  margin-bottom: 30px;
  background-color: #6D7A71;
  background-size: 450px 350px;
}

.footer-logo-github {
  width: 10%;
  margin: none;
  padding: none;
}

.review-list-card {
  line-height: 26pt; 
}

button.button2 {
  margin: 4px 4px;
  background-color: c7c7c7;
  border-radius: 2px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 1px 1px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  background-color: #ddd;
  width: 25%;
  border-radius: 10px;
  padding: 10px;
}

.col p {
  font-size: 14px;
}

.container-not-found {
  position: relative;
  padding: 0;
  margin: 0;
}

.label-container {
  padding: 10rem;
  margin-top: 20rem;
  margin: 0;
}

.label1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 1fr;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  grid-gap: 20px;
}

div.label {
  margin-top: 6rem;
  position: absolute;
  text-align: center;
  color: black;
  font-size: 4.5rem;
  font-weight: bold;
  list-style: none;
  opacity: .5;
}

.location-card {
  /* height: 600px; 
  width: 1150px; */
  margin: 10px;
  border-radius: 10px 10px 10px 10px;
  background:  #ddd;
  box-shadow: 5px 10px 20px #040f74;
}

.pic {
  width: 850px;
  height: 450px;
  position: relative;
  object-fit: cover;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 5px 10px 20px #040f74;
}

/* @media(max-width: 1000px) {
  .location-card-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center;
  } */
/* }  */


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Astralaga Regular', Astralaga;
}
a {
  text-decoration: none;
}
#testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;
}
.testimonial-heading {
  background-color:rgba(0, 0, 0, 0.16);
  margin: 2rem;
  letter-spacing: 1px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial-heading-a {
  background-color:rgba(0, 0, 0, 0.6);
  margin: 2rem;
  letter-spacing: 1px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .content-login {
  background-color:rgba(0, 0, 0, 0.6);
  margin: 2rem;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.testimonial-heading span {
  font-size: 1.3rem;
  color: black;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.testimonial-heading-a span {
  font-size: 1.3rem;
  color: white;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* .about-heading span {
  font-size: 1.3rem;
  color: white;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
} */

.testimonial-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width:100%;
}

.testimonial-box {
  width: 900px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}

.profile-img {
  width:50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profile{
  display: flex;
  align-items: center;
}

.name-user{
  /* float: left; */
  /* margin-right: 45rem; */
  display: flex;
  flex-direction: column;
}

.name-user strong{
  color: #3d3d3d;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.name-user span{
  color: #979797;
  font-size: 0.8rem;
}

.reviews {
  color: #f9d71c;
}

.box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.client-comment p {
  font-size: 0.9rem;
  color: #4b4b4b;
}

.testimonial-box:hover {
  transform: translateY(-10px);
  transition: all ease 0.3s;
}

@media(max-width:1060px) {
  .testimonial-box{
      width:45%;
      padding: 10px;
  }
}

@media(max-width:790px) {
  .testimonial-box{
      width:100%;
  }
  .testimonial-heading h1 {
      font-size: 1.4rem;
  }
}

@media(max-width:340px) {
  .box-top {
      flex-wrap: wrap;
      margin-bottom: 10px;
  }
  .reviews {
      margin-top: 10px;
  }
}

::selection {
  color: #ffffff;
  background-color: #252525;
}

.trail-name {
  letter-spacing: .5px;
  font-family: 'Astralaga Semibold', Astralaga;
  font-size: 3rem;
}

.h1-nav {
  letter-spacing: .5px;
}

body.body-logout {
  background-color: #6D7A71;
  margin: none;
}

b.city-state {
  margin: 1.9rem;
}

/* .container-home-div {
  font-size: 14px;
  margin: 20px auto;
  width: 300px;
} */

.checkbox {
  font-size: 14px;
  float: left;
  margin-top: auto;
}

.text-logout {
  color: black;
  transform: scale(1.3); 
}

.text-logout:hover {
  opacity: 0.9;
}

.welcome-h1 {
  color:#252525;
  margin: 4px 4px;
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav-nav:before,
.topnav-nav:after {
  border: 0 solid transparent;
  content: '';
  height: 14px;
  position: absolute;
  width: 14px;
}

.topnav-nav:before {
  border-top: 2px solid #C3CEBD;
  left: 0px;
  top: -5px;
}

.topnav-nav:after {
  border-bottom: 2px solid #C3CEBD;
  bottom: -5px;
  right: 0px;
}

.topnav-nav:hover:before,
.topnav-nav:hover:after {
  height: 100%;
  width: 100%;
}


.mouse-cursor-gradient-tracking {
  position: relative;
  background: #6D7A71;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}

.mouse-cursor-gradient-tracking span {
  position: relative;
}

.mouse-cursor-gradient-tracking::before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #C3CEBD, transparent);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
}

.mouse-cursor-gradient-tracking:hover::before {
  --size: 200px;
}

.mouse-cursor-gradient-tracking {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.custom-scrollbar {
  height: 12rem;
  overflow-y: scroll;
}

/* To style the document scrollbar, remove `.custom-scrollbar` */

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}